@model IEnumerable<DoctorMeal.Data.Entities.WaitingToConfirmRestaurant>
<div class="text-center">
    @*<img width="860" height="860" src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_860/http://posilekdlalekarza.pl/wp-content/uploads/2018/04/ikona.png" class="custom-logo aux-logo-image aux-logo-image1 aux-logo-light" alt="#PosilekDlaLekarza" srcset="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_860/http://posilekdlalekarza.pl/wp-content/uploads/2018/04/ikona.png 860w, https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://posilekdlalekarza.pl/wp-content/uploads/2018/04/ikona-300x300.png 300w, https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_150/http://posilekdlalekarza.pl/wp-content/uploads/2018/04/ikona-150x150.png 150w, https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_768/http://posilekdlalekarza.pl/wp-content/uploads/2018/04/ikona-768x768.png 768w" sizes="(max-width: 860px) 100vw, 860px">*@
    <p>Restauracje oczekujące na akceptację</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSiteAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSiteAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
